venv3/
venv/
venv-cpp/
venv-py/
venv-doc/
venv-go/
.mypy_cache/
.idea/
*.pyc
.precommit_hashes/
*.egg-info
*.generated_from_test.h
*.generated_from_test.cpp
sandbox-cpp-build/
sandbox/cpp/cmake-build-debug/
.tox/
dist/
.coverage
