sphinx>=3.2.1,<4
sphinx-autodoc-typehints>=1.11.0,<2
sphinx-icontract>=2.0.0
sphinx-rtd-theme>=0.5.0,<1

# We need to pin icontract version since readthedocs for some reason picks an older version
# which could not be installed on their remote servers.
icontract>=2.3.6,<3
